{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5">
  {% if messages %}
  <div class="row">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message|escape }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h2>Create a New Auction</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock %}